In [ ]:
from algos.search_sort import *

%load_ext autoreload

In [ ]:
%autoreload
a = [[15,20,70,85],[20,35,80,95],[30,55,95,105],[40,80,100,120]]
i,j = search_2d(a, 20)
print(i,j)
if i is not -1 and j is not -1:
    print(a[i][j])

In [ ]:
%autoreload
b = [2,6,9,12]
binary_search_mod1(b,0,len(b)-1,12)

In [1]:
from data_structures.heaps import *
%load_ext autoreload

In [2]:
hp = MinHeap()

In [ ]:
k = ['f','g','q','a','c','h','z']
v = [8, -12, 2, 6, 34, 0, 3]
for k1, v1 in zip(k,v):
    hp.insert([k1,v1])

In [ ]:
%autoreload
hp.get_value('a')

In [5]:
def first_one(arr, li, ri):
    if li>ri:
        return -1
    
    mid = (li+ri)//2
    if arr[mid] is 1:
        if mid is not 0:
            if arr[mid-1] is 0:
                return mid
            else:
                return first_one(arr,li,mid-1)
        else:
            return 0
    else:
        if mid is not len(arr)-1:
            if arr[mid+1] is 1:
                return mid+1
            else:
                return first_one(arr,mid+1,ri)
        else:
            return mid+1

In [9]:
b = [0,0,0,0]
first_one(b, 0, len(b)-1)

4

In [1]:
def rotate(mat):
    if len(mat) <=1:
        return 
    
    def transpose(mat):
        n = len(mat)
        for i in range(0,n-1):
            for j in range(i+1,n):
                mat[i][j], mat[j][i] = mat[j][i], mat[i][j]
    
    def reflectcol(mat):
        n = len(mat)
        for j in range(n//2):
            for i in range(n):
                mat[i][j],mat[i][n-1-j] = mat[i][n-1-j], mat[i][j]
    
    transpose(mat)
    reflectcol(mat)

In [11]:
a = [[15,20,70,85],[20,35,80,95],[30,55,95,105],[40,80,100,120],[3,2,1,4]]

In [12]:
a

[[15, 20, 70, 85],
 [20, 35, 80, 95],
 [30, 55, 95, 105],
 [40, 80, 100, 120],
 [3, 2, 1, 4]]

In [14]:
m = [[0 for j in a[0]] for i in a]
print(m)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [ ]:
def xshapes(arr):
    arrs = [[list(r)] for r in arr]
    marker = [[0 for j in arr[0]] for i in arr]
    
    def mark(arrs,marker,i,j):
        if i>=0 and i<len(arrs) and j>=0 and j<len(arrs[0]):
            if marker[i][j] is 0 and arrs[i][j]:
                
                  
    ctr = 0
    for i in range(len(arr)):
        for j in range(len(arr[0])):
            if marker[i][j] is 0 and arrs[i][j]:
                ctr +=1

In [1]:
import sqlite3 
  
# connecting to the database  
connection = sqlite3.connect("myTable.db") 
  
# cursor  
crsr = connection.cursor() 
  
# SQL command to create a table in the database 
sql_command = """CREATE TABLE emp (  
staff_number INTEGER PRIMARY KEY,  
fname VARCHAR(20),  
lname VARCHAR(30),  
gender CHAR(1),  
joining DATE);"""
  
# execute the statement 
crsr.execute(sql_command) 
  
# SQL command to insert the data in the table 
sql_command = """INSERT INTO emp VALUES (23, "Rishabh", "Bansal", "M", "2014-03-28");"""
crsr.execute(sql_command) 
  
# another SQL command to insert the data in the table 
sql_command = """INSERT INTO emp VALUES (1, "Bill", "Gates", "M", "1980-10-28");"""
crsr.execute(sql_command) 
  
# To save the changes in the files. Never skip this.  
# If we skip this, nothing will be saved in the database. 
connection.commit() 
  
# close the connection 
connection.close()